.wrapper {
    display: flex;
    flex-direction: column;
}
.show-video {
    border-bottom: solid 1px rgba(103, 98, 98, 0.25);;
    
    padding: 20px 0;
}


.avatar-account {
    width: 56px;
    height: 56px;
    border-radius: 50%;
}
.content-conainer {
    // margin-left: 68px;
    min-width: 77%;
    line-height: 1.5;
    margin-left: 12px;
    display: flex;
    flex-direction: column;
}

.video-author {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.nick-name {
    font-size: 1.8rem;
    font-weight: 700;
    margin-right: 4px;

    &:hover {
        cursor: pointer;
        text-decoration: underline;
    }
}
.full-name {
    font-size: 1.4rem;
    font-weight: 400;
}
.follow {
    margin-top: 10px;
}
.video-title {
    display: flex;
    justify-content: flex-start;
    color: var(--text-color-default);

}
.video-audio {
    margin-bottom: 12px;
    float: left;
    color: var(--text-color-default);
}
.music {
    margin-left: 7px;
    font-size: 1.5rem;

    &:hover {
        cursor: pointer;
        text-decoration: underline;
    }
}

// video
.video-main {
    position: relative;

    display: flex;
    flex-direction: row;
    margin-left: 68px;
}
.video-cover {
    position: relative;
}
.video-content {
    z-index: 1;
    position: relative;
    cursor: pointer;
}

.wrapper-btn {
    position: relative;
}
.video-sub {
    z-index: 2;
    position: absolute;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.pause-control {
    bottom: 24px;
    left: 12px;
}
.volume-btn {
}
.video-volume {
    align-items: center;
    bottom: 42px;
    display: flex;
    position: absolute;
    right: 50px;
    transform: rotate(0deg);
    transform-origin: calc(100% - 20px);
    z-index: 2;
}
.volume-control {
    position: absolute;
    left: -15px;
    bottom: 25px;
    margin-right: 160px;
    background-color: rgba(84, 84, 84, 0.5);
    border-radius: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    // padding: 0 10px;
    transform: rotate(270deg);
    height: 24px;
    width: 64px;
}
.range-volume {
    accent-color: #ffffff;
    position: absolute;
    width: 50px;
    height: 2px;
    top: 12px;
    background-color: rgba(84, 84, 84, 0.5);
    outline: none;
    opacity: 1;
}
.range-volume::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #fff;
    box-shadow: 0 0 2px 0 #555;
    transition: #fff 0.3s ease-in-out;
}
.range-volume::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
}

.report-control {
    color: #ffffff;
    top: 20px;
    right: 32px;
}

.video {
    max-height: 600px;
    max-width: 556px;
    width: var(--width-video-default);
    border-radius: 10px;
}
.action-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    // align-items: center;
    margin-left: 20px;
    background-color: initial;
}
.spanIcon {
    background-color: rgba(22, 24, 35, 0.06);
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 2.2rem;
    margin-bottom: 6px;
}

.tym-action,
.cmt-action,
.favorites-action,
.share-action {
    display: flex;
    flex-direction: column;
    margin-top: 8px;

    &:hover {
        cursor: pointer;
    }
}
.like-count {
    display: flex;
    font-size: 1.2rem;
    color: rgba(22, 24, 35, 0.75);
    line-height: 1.6rem;
    letter-spacing: 0.161px;
}
.cmt-count {
    display: flex;
    font-size: 1.2rem;
    color: rgba(22, 24, 35, 0.75);
    line-height: 1.6rem;
    letter-spacing: 0.161px;
}
.underfind-count {
    display: flex;
    font-size: 1.2rem;
    color: rgba(22, 24, 35, 0.75);
    line-height: 1.6rem;
    letter-spacing: 0.161px;
}
.share-count {
    display: flex;
    font-size: 1.2rem;
    color: rgba(22, 24, 35, 0.75);
    line-height: 1.6rem;
    letter-spacing: 0.161px;
}
.action-item strong {
    display: flex;
    justify-content: center;
}

//loading

.loading {
    opacity: 0;
    visibility: hidden;
    display: flex;
    position: fixed;
    bottom: 25px;
    transition: all 0.3s linear;
}

.loading.show {
    visibility: visible;
    opacity: 1;
}

.circle {
    background-color: rgb(163, 162, 162);
    width: 13px;
    height: 13px;
    border-radius: 50%;
    margin: 0 5px;
    animation: loading 0.4s linear infinite;
}

.circle:nth-of-type(2) {
    animation-delay: 0.1s;
}

.circle:nth-of-type(3) {
    animation-delay: 0.2s;
    position: relative;
}

@keyframes loading {
    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }
}
