.wrapper {
    font-size: 1.6rem;
    font-weight: 600;
    font-family: 'ProximaNova', Arial, Tahoma, PingFangSC, sans-serif;
    padding: 9px 18px;
    min-width: 100px;
    border-radius: 4px;
    cursor: pointer;
    background-color: var(--background-tippy-color);
    border: 1px solid transparent;

    &.disabaled {
        pointer-events: none;
        opacity: none;
    }
}

.icon + .title,
.title + .icon {
    margin-left: 8px;
}

.icon {
    display: inline-block;
    width: 20px;
    color: var(--text-color-default);
}

// Button style
.rounded {
    border-radius: 52px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06);
    border-color: rgba(22, 24, 35, 0.12);

    &:hover {
        border-color: rgba(22, 24, 35, 0.2);
        background-color: rgba(255, 255, 255, 1);
    }
}
.primary {
    color: var(--while);
    background-color: var(--primary);
    border-color: var(--primary);
    &:hover {
        background: linear-gradient(
                0deg,
                rgba(0, 0, 0, 0.06),
                rgba(0, 0, 0, 0.06)
            ),
            #fe2c55;
    }
}
.outline {
    color: var(--primary);
    border-color: currentColor;

    &:hover {
        background-color: rgba(254, 44, 85, 0.06);
    }
}

//Button sizes

.small {
    min-width: 88px;
    padding: 4px 16px;
}
.large {
    width: 208px;
    height: 48px;
}

.up {
    color: var(--text-color-default);
    background-color: var(--button-color);
    border: 1px solid rgba(22, 24, 35, 0.12);

    &:hover {
        background-color: rgba(186, 178, 178, 0.25);
    }
}
.forLogin {
    text-align: center;
}
