.menu-list {
    height: auto;
    min-width: 180px;
}
.arrow {
    position: absolute;
    left: 0;
    transform: translate(160px, 0px);
    height: 9px;
    overflow-y: clip;
    top: -9px;
    z-index: 1;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 4px 16px;
    width: 214px;
}
.menu-body {
    padding: 8px 0;
}
.menu-item {
    overflow-y: hidden;
    width: 214px;

}
.menu-body {
    position: relative;
    padding: 8px 0;
    overflow-y: auto;
}

.menu-item {
    overflow-y: hidden;
    width: 214px;
    height: 42px;
    display: flex;
    width: 100%;
    justify-content: flex-start;
    font-weight: 540;

    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
    }
    &.separate {
        border-top: 1px solid rgba(22, 24, 35, 0.12);
    }
}

.header {
    position: relative;
    height: 50px;
}
.back-btn {
    padding-right: 50px;
    font-size: 1.7rem;
    font-weight: 200;
    width: 50%;
    height: 100%;
    background-color: transparent;
    cursor: pointer;
}
.header-title {
    font-weight: 550;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
