.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 50px;
    max-height: min((100vh - 70px) - 60px, 734px);
    max-height: min((100vh - 96px) - 60px, 734px);
    border-radius: 8px;
    box-shadow: rgb(0 0 0 / 12%) 0px 2px 12px;
    background: var(--background-tippy-color); 
}
