.search,
.search-result {
    width: 500px;
    margin-top: -2px;
}
.search-title {
    padding: 5px 12px;
    font-size: 1.4rem;
    font-weight: 550;
    color: var(--text-color-default);
}
.search {
    position: relative;
    display: flex;
    padding: 12px 16px;

    background: var(--search-input-default);
    border-radius: 92px;

    input {
        height: 22px;
        flex: 1;
        font-size: 1.6rem;
        color: var(--text-color-default);
        background: transparent;
        outline: none;
        border: none;
        caret-color: var(--primary);
    }

    input:not(:placeholder-shown) ~ .search-btn {
        color: rgba(22, 24, 35, 0.75);
    }
    &:hover {
        border-color: rgba(22, 24, 35, 0.2);
        .search-btn {
            background-color: rgba(22, 24, 35, 0.09);
            color: var(--text-color-default);
        }
    }

    &::after {
        content: '';
        position: absolute;
        top: var(--search-top-spacer);
        width: .5px;
        height: calc(var(--search-height) - var(--search-top-spacer) * 2);
        right: var(--search-button-width);
        background-color: rgba(103, 98, 98, 0.25);
    }

    &:focus-within {
        border: 1.5px solid rgba(22, 24, 35, 0.2);
    }
}
.search-result {
}

.clear,
.loading {
    position: absolute;
    right: calc(var(--search-button-width) + 16px);
    transform: translateY(-50%);
    top: 50%;
    color: gray;
    background-color: transparent;
    // color: rgba(22, 24, 35, 0.34);
    // color: rgba(22, 24, 35, 0.34);
}

.loading {
    font-size: 1.2rem;
    animation: spinner 0.8s linear infinite;
}

@keyframes spinner {
    from {
        transform: translateY(-50%) rotate(0);
    }
    to {
        transform: translateY(-50%) rotate(360deg);
    }
}

.search-btn {
    padding: 11px 16px 11px 12px;
    margin: -12px -16px;
    height: 46px;
    width: var(--search-button-width);
    border-top-right-radius: var(--search-boder-radius);
    border-bottom-right-radius: var(--search-boder-radius);
    font-size: 2rem;
    color: gray;
    background-color: transparent;
    // background-color: (--search-button-default);
    &:hover {
        cursor: pointer;
        color: var(--text-color-default);
        background-color: rgba(15, 17, 25, 0.05);
    }
    
}
