.title-header {
    color: rgb(22, 24, 35);
    font-family: Arial, Tahoma, sans-serif;
    font-size: 32px;
    display: flex;
    justify-content: center;
    margin: 16px 0 16px 0;
}

.list-button {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 280px;
    max-height: 468px;
    margin: auto;
    padding: 8px 0;
    
    overflow-y: auto;
    
}
.item-button {
    height: 44px;
    display: inline;
    margin-bottom: 4px;
    padding: 11px 16px;
    // border: 1px solid rgba(22, 24, 35, 0.12);
    &:hover {
        // background: rgba(22, 24, 35, 0.03);
        background: rgba(203, 191, 191, 0.1);
    }

    .icon {
        position: absolute;
        left: 20px;
    }

    span {
        display: flex;
        align-items: center;
        font-size: 1.8rem;
        font-weight: 600;
    }
}
.item-button .title {
    margin-left: 42px;
}
.title {
    color: var(--text-color-default);
}

.more-btn {
    color: var(--text-color-default);
    display: flex;
    justify-content: center;
    cursor: pointer;
    &:hover {
        background: rgba(203, 191, 191, 0.1);
    }
}
