@import 'normalize.css';

:root {
    --primary: #fe2c55;
    --black: #000;
    --text-color-default: #161823;
    --while: #fff;
    --grey: rgba(22, 24, 35, 0.5);

    --font-family: 'ProximaNova', sans-serif;

    --default-layout-header-height: 60px;
    --default-layout-width: 1150px;
    --default-layout-horizontal-spacer: 24px;

    --body-background: #fff;
    --search-background: rgba(22, 24, 35, 0.06);
    --placehoder-search: #000;
    --button-color: #fff;
    --search-input-default: rgba(22, 24, 35, 0.06);
    --background-tippy-color:#fff;

    --test-color: #fff;

}
[data-theme='dark'] {
    --search-input-default: rgba(255, 255, 255, 0.12);
    --button-color: rgba(255, 255, 255, 0.12);
    --text-color-default: #fff;
    --text-color-gray: rgba(255, 255, 255, 0.75);
    --body-background: rgba(18, 18, 18, 1);
    --white-logo: #fff;
    --search-background: rgba(255, 255, 255, 0.12);
    --placehoder-search: #fff;
    --background-tippy-color:rgb(38, 38, 38);

    --test-color: #fff;    

}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

html ::-webkit-scrollbar {
    border-radius: 0px;
    width: 6px;
}
html ::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(22, 24, 35, 0.06);
}
html ::-webkit-scrollbar-track {
    border-radius: 0px;
    background-color: rgba(0, 0, 0, 0);
}

button,
input,
[tabindex] {
    outline: none;
    border: none;
}
a[href] {
    color: var(--text-color-default);
    text-decoration: none;
}


// custom tippy
body {
    background-color: var(--body-background);
    font-family: sans-serif;
    font-size: 1.6rem;
    .tippy-box {
        border-radius: 8px;
        font-size: 1.6rem;
        line-height: 22px;
        background-color: rgba(84, 84, 84, 0.92);
    }
    .tippy-arrow {
        color: rgba(84, 84, 84, 0.92);
    }

}

.hidden {
    overflow: hidden;
}

.tippy-content {
    padding: 8px 9px;
}

//  Fonts emmbeded
@font-face {
    font-family: ProximaNova;
    src: url('/assest/font/Proxima-Nova-Bold.woff');
    font-weight: 600;
}
@font-face {
    font-family: ProximaNova;
    src: url('/assest/font/Proxima-Nova-Bold.woff2');
    font-weight: 600;
}
@font-face {
    font-family: ProximaNova;
    src: url('/assest/font/Proxima-Nova-Regular.woff2');
    font-weight: 600;
}
@font-face {
    font-family: ProximaNova;
    src: url('/assest/font/Proxima-Nova-Semibold.woff2');
    font-weight: 600;
}
@font-face {
    font-family: ProximaNova;
    src: url('/assest/font/ProximaNova-Semibold.woff2');
    font-weight: 600;
}
@font-face {
    font-family: SofiaPro;
    src: url('/assest/font/sofiapro-bold.woff');
    font-weight: 600;
}
@font-face {
    font-family: SofiaPro;
    src: url('/assest/font/sofiapro-bold.woff2');
    font-weight: 600;
}


