//
.wrapper {
    display: flex;
    align-items: center;

    // position: relative;
}

.container {
    width: 100vh;
    max-width: 100%;
    display: flex;
    flex: 1 1 auto;
    background-color: #fff;
    margin-top: 60px;
}

.content {
    display: flex;
    width: 100%;
    // max-width: 420px;
    margin-left: 224px;
    justify-content: center;
}
/////

.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    z-index: 10000;
}
.login-modal {
    position: relative;
}
.modal-container {
    position: relative;
    overflow: auto;
    padding: 48px 0 0;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    justify-content: center;
    align-items: center;
    height: 700px;
    width: 483px;
}
.modal-content {
    flex: 1 1 0%;
    overflow: auto;
}
.loginContainer {
    margin: 0 50px;
    width: 375px;
}

.title-login {
    padding: 8px 0;
    font-weight: 700;
    font-size: 32px;
    text-align: center;
    margin: 16px auto;
}
.method {
    font-family: 'ProximaNova';
    font-size: 1.6rem;
    font-weight: 500;
    margin-bottom: 16px;
    display: flex;
    flex-direction: row;
    height: 44px;
    width: 100%;
    border: 1px solid rgba(22, 24, 35, 0.12);
    padding: 0 12px;
}
.title-QRcode {
    width: 100%;
    display: flex;
    align-self: center;
    justify-content: center;
}
.title-PhoneNumber {
    width: 100%;
    display: flex;
    align-self: center;
    justify-content: center;
}
.title-Facebook {
    width: 100%;
    display: flex;
    align-self: center;
    justify-content: center;
}
.title-Google {
    width: 100%;
    display: flex;
    align-self: center;
    justify-content: center;
}
.title-Twitter {
    width: 100%;
    display: flex;
    align-self: center;
    justify-content: center;
}
.title-Line {
    width: 100%;
    display: flex;
    align-self: center;
    justify-content: center;
}
.title-KaKaoTalk {
    width: 100%;
    display: flex;
    align-self: center;
    justify-content: center;
}
.title-Apple {
    width: 100%;
    display: flex;
    align-self: center;
    justify-content: center;
}
.Apple .icon {
    font-size: 2.2rem;
}
.title-Instagram {
    width: 100%;
    display: flex;
    align-self: center;
    justify-content: center;
}
.icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    font-family: ProximaNova;
    border-top: 2px solid rgba(22, 24, 35, 0.12);
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 64px;
    display: flex;
    flex-direction: row;
}
.title-footer {
    margin-right: 5px;
}
a {
    color: rgb(22, 24, 35);
    &:hover {
        cursor: pointer;
        text-decoration: underline;
    }
}
.footer a {
    color: var(--primary);

    &:hover {
        text-decoration: underline;
    }
}
.close {
    top: 14px;
    right: 14px;
    width: 41px;
    height: 41px;
    position: absolute;
    background: rgba(22, 24, 35, 0.03);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        cursor: pointer;
    }
}
